#framsida {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#expBar {
    width: 50%;

    border-style: solid;
    border-color: black;
    border-radius: 20px;
    border-width: 8px;
    
    background-color: black;

    /*animation-name: levelOpp;*/
    animation-duration: 3s;

}

#expFyll {
    width: 0%;

    border-style: solid;
    border-color: orange;
    border-radius: 10px;
    border-width: 15px;
    
}

@keyframes levelOpp {
    0%  {rotate: 0.02turn;}
    25% {rotate: -0.02turn;}
    50% {rotate: 0.02turn;}
    75% {rotate: -0.02turn;}
}